/* Credit: Zen Internet by Sameerasw */

/* ==== Animations(tabs) ================================================================================= */
/* --- glance open animation --- */
.browserSidebarContainer.zen-glance-background.deck-selected {
  filter: blur(5px) brightness(50%);
  transition: filter 0.1s ease-in-out;
}
/* --------------- loading blur & scale ----------------- */
/*@media (-moz-bool-pref: "zen.view.use-single-toolbar") {
    .browserSidebarContainer {
        transition:
            transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.35) !important,
            filter 0.3s cubic-bezier(0.2, 0.8, 0.4, 1) !important;
    }


    #main-window:has(.tabbrowser-tab[selected][busy]) .browserSidebarContainer {
        filter: blur(15px) !important;
        transform: scale(0.95) !important;
        transition-delay: 0.3s !important;
    }

  
    #main-window:has(.tabbrowser-tab[selected]:not([busy])) .browserSidebarContainer {
        filter: none !important;
        transform: scale(1) !important;
        transition-delay: 0s !important; 
    }
}
*/
/* ----------------- Tab switch animation -------------------- */
#tabbrowser-tabpanels > hbox:not(:has(.zen-glance-background)) {
  &:is([zen-split]) {
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.35), filter 0s ease-out !important;
  }
  &:not(.zen-glance-background):not([zen-split]) {
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.35), filter 0.18s ease-out !important;
    scale: 0.9 !important;
    opacity: 0;
    filter: blur(20px) !important;
  }
}

#tabbrowser-tabpanels > hbox.deck-selected:not(:has(.zen-glance-background)) {
  &:not(.zen-glance-background) {
    scale: 1 !important;
    opacity: 1 !important;
    filter: none !important;
  }
}

/* website view animations */
#browser:not(:has(.zen-glance-background)) #tabbrowser-tabpanels {
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.35) !important;
}

/* trackpad gestures*/
tabpanels .browserStack browser {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.1) 0.1s !important;
  /* Add initial border-radius to prevent sharp corners */
  border-radius: 0.75em !important;
}


/* Previous animation*/
.browserStack:has(
    #historySwipeAnimationPreviousArrow:not([style="translate: none;"])
  )
  browser {
  scale: 0.95 !important;
  transform: translateX(3%) !important;
  border-radius: 2em !important;
}

/* Next animation*/
.browserStack:has(
    #historySwipeAnimationNextArrow:not([style="translate: none;"])
  )
  browser {
  scale: 0.95 !important;
  transform: translateX(-3%) !important;
  border-radius: 2em !important;
}

/* smoothen trackpad gestures */
.browserStack browser[style*="transform: none"] {
  border-radius: 0.75em !important;
}

/* ctrl tab visuals and animations */
#ctrlTab-panel {
  --panel-background: var(--lwt-accent-color) !important;
  transition: all 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.1) 0.2s !important;
  scale: 0.7;
}

#ctrlTab-panel:has(.ctrlTab-preview:not([hidden="true"])) {
  scale: 1 !important;
}

slot:nth-child(1) {
  border-radius: 1em !important;
  padding: 0 !important;
}

.ctrlTab-preview-inner {
  /* 	padding: 0 !important; */
  margin: 0 !important;
  transition: all 0.2s ease-in-out;

  .ctrlTab-canvas {
    border-radius: 1em !important;
    overflow: hidden;

    img {
      background-color: #000000 !important;
    }
  }

  .ctrlTab-favicon-container {
    justify-content: center !important;
    transition: all 0.5s ease-in-out;

    image {
      border-radius: 50% !important;
      transition: all 0.5s ease-in-out !important;
      /* 			scale: 1.25 !important; */
    }
  }

  .ctrlTab-label {
    margin-top: 1.5em !important;
  }
}

.ctrlTab-preview:focus > .ctrlTab-preview-inner {
  outline: none !important;
  /* border: none !important;   */
  background-color: var(--sidebar-background-color) !important;
  border-radius: 1.5em !important;
  scale: 1.03 !important;

  .ctrlTab-favicon-container {
    image {
      padding: 2px !important;
    }
  }
}