/* === PINNED EXTENSIONS (Keeps Dark Background & Shadow) ==================================================================================== */
#TabsToolbar-customization-target {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  gap: 2.5px !important;
  justify-content: space-between !important;
  height: calc(100% - 37px) !important;

  #tabbrowser-tabs {
    min-width: 100% !important;
    contain: inline-size !important;
  }

  /* Pinned Extensions */
  .unified-extensions-item {
    margin-inline: 2px !important;
    border-bottom: 0px !important;
    padding: 0px !important;
    height: 32px !important;
    width: 32px !important;
    margin-bottom: 2px !important;
    flex-grow: 1 !important;
    order: -1 !important;
    background-color: light-dark(rgba(255,255,255,0.25), rgba(0,0,0,0.4)) !important;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.12) !important;
    border-radius: 11px !important;
    transition: background-color 0.3s ease, box-shadow 0.3s ease !important;
  }

  .unified-extensions-item:hover {
    background-color: light-dark(rgba(255,255,255,0.45), rgba(0,0,0,0.5)) !important;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.95) !important;
  }

  toolbarbutton:not([id="tabs-newtab-button"]) {
    height: 32px !important;
    width: 32px !important;
    flex-grow: 1 !important;
    padding: 0px !important;

    toolbarbutton,
    stack {
      --toolbarbutton-active-background: transparent !important;
      --toolbarbutton-hover-background: transparent !important;
    }

    .toolbarbutton-badge {
      display: none !important;
    }

    .toolbarbutton-text {
      display: none !important;
    }
  }

  >toolbarbutton:not([id="tabs-newtab-button"]),
  >toolbaritem {
    background-color: light-dark(rgba(255,255,255,0.25), rgba(0,0,0,0.4)) !important;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.12) !important;
    border-radius: 11px !important;
    margin: 0px !important;
    position: relative !important;
    transition: background-color 0.3s ease, box-shadow 0.3s ease !important;
  }

  >toolbarbutton:not([id="tabs-newtab-button"]):hover,
  >toolbaritem:hover {
    background-color: light-dark(rgba(255,255,255,0.45), rgba(0,0,0,0.5)) !important;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.95) !important;
  }
}


/* ============ COMPACT EXTENSIONS ================== */
#unified-extensions-view{
  
  --uei-icon-size: 20px !important;
  --extensions-in-row: 4;

  width: 100% !important;
  
  /* hide not needed */
  #unified-extensions-description,
  toolbarseparator,
  .unified-extensions-item-menu-button.subviewbutton,
  .unified-extensions-item-action-button .unified-extensions-item-contents
  {display: none !important;}
  
  /* spacing */

  .panel-header {margin-top: 4px !important;}

  [data-l10n-id="unified-extensions-header-title"]::before
  {margin-inline-end: 14px !important;}

  #unified-extensions-manage-extensions
  {padding-left: 10px !important;}

  #unified-extensions-messages-container::empty
  {margin: 0px !important;}
  
  #overflowed-extensions-list
  {padding-bottom: 5px !important;}
  
  #unified-extensions-area
  {padding-block: 5px !important;}
  
  .unified-extensions-list
  {padding-top: 5px !important;}
  
  /* grid layout */
  #overflowed-extensions-list,
  #unified-extensions-area,
  .unified-extensions-list {
    display: grid !important;
    grid-template-columns: repeat( var(--extensions-in-row), calc(var(--uei-icon-size) + 32px) );
    justify-items: center !important;
    align-items: center !important;
  }
  
  /* buttons */
  .unified-extensions-item{
    padding: 4px !important;
    border-radius: var(--zen-border-radius) !important;
    
    .unified-extensions-item-icon,
    .toolbarbutton-badge-stack
    {margin: 0px !important;}
    
    .unified-extensions-item-action-button 
    {padding-inline: 5px !important;}
    
  }
  
  /* top & bottom borders */
  #unified-extensions-area {
    border-top: 1px solid var(--panel-separator-color);
    border-bottom: 1px solid var(--panel-separator-color);
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  
}