/* === COMPACT SIDEBAR ===================================================================================================== */

.urlbarView-row[type="search"] {
    min-height: 50px !important;
  }
  
  :root[zen-compact-mode="true"] #urlbar[open] {
    width: 50vw !important;
    max-width: 600px !important;
    left: 50vw !important;
    transform: translate(-50%, -50%) scale(1.2) !important;
  }
  
  /* Set compact sidebar width equal to normal sidebar width */
  :root {
    --sidebar-width: 300px; /* Change this to match the default sidebar width */
  }
  
  :root[zen-compact-mode="true"] #sidebar {
    width: var(--sidebar-width) !important;
    min-width: var(--sidebar-width) !important;
  }
  
  /* Reduce unnecessary transitions */
  :root[zen-compact-mode="true"]:not([customizing]):not([inDOMFullscreen="true"]) #navigator-toolbox {
    transition-delay: -0.002s !important;
  }
  
  /* === BLUR COMPACT SIDEBAR ================================================================================================ */
  /* Based on code by https://github.com/Tanay-Kar */
  
  :root[zen-compact-mode="true"] #navigator-toolbox #titlebar {
    border: none !important;
  
    @media (-moz-bool-pref: "lacuna.sidebar.compact-transparent") {
      background: light-dark(#00000022, #00000044) !important;
    }
  }
  
  :root[zen-compact-mode="true"] #navigator-toolbox:not(:has(#urlbar[zen-floating-urlbar='true'][open])) #titlebar {
    backdrop-filter: blur(10px) !important;
    background: rgba(0, 0, 0, 0.3) !important;
  }
  
  /* === GENERAL SIDEBAR ====================================================================================================== */
  /* Removes scrollbar in tab panel and adds fade effect */
  #zen-tabs-wrapper {
      mask-image: linear-gradient(to bottom, black 90%, transparent 100%) !important;
      -webkit-mask-image: linear-gradient(to bottom, black 97%, transparent 100%) !important;
      scrollbar-width: none !important;
      -ms-overflow-style: none !important;
      overflow-y: auto !important;
  }
  
  #zen-tabs-wrapper::-webkit-scrollbar {
      display: none !important;
  }