
/* ------------------------- Tabs Styling -------------------------- */
.tabbrowser-tab[pinned]:not([zen-essentials="true"]) {
    .tab-background {
      background-color: light-dark(rgba(255,255,255,0.25), rgba(0,0,0,0.18)) !important;
      box-shadow: 0 -1px 8px rgba(0, 0, 0, 0) !important;
      border-radius: 12px !important;
      position: relative !important;
      transition: background-color 0.3s ease, box-shadow 0.3s ease !important;
    }
  
    &:hover .tab-background {
      background-color: light-dark(rgba(255,255,255,0.45), rgba(0,0,0,0.45)) !important;
      box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.55) !important;
    }
    &[selected="true"] .tab-background,
    &[visuallyselected="true"] .tab-background {
      background-color: light-dark(rgba(255, 255, 255, 0.55), rgba(0, 0, 0, 0.55)) !important;
      box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.55) !important;
    }
  }
.tabbrowser-tab:not([pinned]) {
  .tab-background {
      box-shadow: 0 -1px 8px rgba(0, 0, 0, 0) !important;
      border-radius: 12px !important;
      position: relative !important;
      transition: background-color 0.3s ease, box-shadow 0.3s ease !important;
    }
  
    &:hover .tab-background {
      background-color: light-dark(rgba(255,255,255,0.4), rgba(0,0,0,0.4)) !important;
      box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.55) !important;
    }
    &[selected="true"] .tab-background,
    &[visuallyselected="true"] .tab-background {
      background-color: light-dark(rgba(255, 255, 255, 0.55), rgba(0, 0, 0, 0.35)) !important;
      box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.55) !important;
    }
  }
  /*-------------------------- Natsumi Essentials & Pinned ----------------------------------*/
  @media (-moz-bool-pref: "uc.pins.bg") {
  :root {
    --pins-bg-percentage: 10% !important; /* Reduce white mix to make it darker */
  }
  
  .tabbrowser-tab[pinned]:not([zen-essential="true"]) .tab-stack .tab-background {
    background-color: color-mix(in srgb, black var(--pins-bg-percentage), transparent) !important;
  }
  
  /* Combine selectors to reduce repetition */
  .tabbrowser-tab[pinned]:not([zen-essential="true"]) .tab-stack .tab-background {
    transition: background-color 0.2s ease-in-out !important;
  }
  
  /* Darker on Hover */
  .tabbrowser-tab[pinned]:not([zen-essential="true"]):hover .tab-stack .tab-background,
  .tabbrowser-tab[pinned]:not([zen-essential="true"])[selected="true"]:hover .tab-stack .tab-background,
  .tabbrowser-tab[pinned]:not([zen-essential="true"])[multiselected="true"]:hover .tab-stack .tab-background {
    background-color: color-mix(in srgb, black calc(var(--pins-bg-percentage) + 5%), transparent) !important;
  }
  
  /* Darker when Selected */
  .tabbrowser-tab[pinned]:not([zen-essential="true"])[selected="true"] .tab-stack .tab-background,
  .tabbrowser-tab[pinned]:not([zen-essential="true"])[multiselected="true"] .tab-stack .tab-background {
    background-color: color-mix(in srgb, black calc(var(--pins-bg-percentage) + 15%), transparent) !important;
  }
  }
  
  /* ----------------------- Natsumi Tabs ------------------------- */
  
  #zen-workspaces-button {
  border-radius: 8px !important;
  background-color: rgba(255,255,255,0.1) !important;
  box-shadow: 0 0 12px rgba(0,0,0,0.2) !important;
  padding: 3px !important;
  
  .subviewbutton {
    border-radius: 6px !important;
    transition: background-color 0.2s ease !important;
    font-size: 16px !important;
    filter: grayscale(0%) !important;
    --toolbarbutton-hover-background: color-mix(in srgb, var(--zen-branding-bg-reverse) 10%, transparent 90%) !important;
  
    &:hover {
      background-color: var(--toolbarbutton-hover-background) !important;
    }
  
    &:active {
      background-color: var(--toolbarbutton-active-background) !important;
    }
  
    /*noinspection CssInvalidFunction*/
    &[active] {
      background-color: light-dark(rgba(255,255,255,1), rgba(255,255,255,0.2)) !important;
      box-shadow: 0 0 4px rgba(0,0,0,0.2) !important;
      overflow: hidden !important;
  
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        margin-top: 50%;
        background: linear-gradient(0, rgba(0, 0, 0, 0.2), transparent);
      }
    }
  }
  }
  
  #zen-main-app-wrapper:not(:has(#zen-welcome)) {
  .tabbrowser-tab {
    scale: unset !important;
  
    &[zen-glance-tab] {
      box-shadow: none !important;
  
      .tab-label-container {
        display: none !important;
      }
    }
  
    .tab-stack {
      transition: transform 0.2s ease !important;
    }
  
    .tab-background, .tab-icon-stack, .tab-label-container {
      transition: opacity 0.2s ease !important;
    }
  
    .tab-background {
      transition: background 0.3s ease, box-shadow 0.3s ease, border 0.3s ease !important;
      overflow: hidden !important;
      position: relative !important;
  
      &::before {
        content: "";
        width: 0;
        height: 100%;
        transition: opacity 0.3s ease, width 0.3s ease, background 0.3s ease;
        opacity: 0;
        background-color: var(--natsumi-primary-color);
        mask-image: linear-gradient(to right, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0));
      }
  
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: var(--tab-min-height);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        border-radius: 0px;
        background: rgba(0, 0, 0, 0.1);
  
        @media (prefers-color-scheme: dark) {
          background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0));
        }
      }
    }
  
    &:hover:not([glance-id]) {
      .tab-background {
        &::before {
          opacity: 1;
          width: 25%;
        }
      }
    }
  
    &[usercontextid] {
      .tab-background {
        @media (-moz-bool-pref: "natsumi.sidebar.container-tabs-border") {
          border: 0px solid var(--identity-tab-color) !important;
        }
  
        &::before {
          opacity: 1;
          width: var(--container-gradient-width);
          background-color: var(--identity-tab-color);
          mask-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
        }
      }
  
      &:not([selected]) {
        @media (-moz-bool-pref: "natsumi.sidebar.container-tabs-border-no-inactive") {
          .tab-background {
            border: none !important;
          }
        }
      }
  
      &:hover {
        .tab-background {
          &::before {
            width: var(--container-gradient-width-expanded);
          }
        }
      }
    }
  
    .tab-context-line {
      display: none !important;
    }
  
    &[selected]:not([zen-glance-tab="true"]), &[visuallyselected]:not([zen-glance-tab="true"]) {
      & > .tab-stack > .tab-background {
        box-shadow: 0 -1px 5px rgba(0, 0, 0, 0) !important;
  
        &::before {
          opacity: 1;
          width: 50% !important;
        }
  
        &::after {
          width: 100%;
          opacity: 1;
        }
      }
    }
  
    &:active {
      .tab-stack {
        transform: scale(0.95, 0.95) !important;
      }
    }
  
    &:has(.tab-close-button:hover) {
      .tab-stack {
        transform: unset !important;
      }
  
      .tab-background::before {
        background-color: rgb(255, 100, 100);
      }
  
      &[usercontextid] {
        .tab-background {
          border-color: rgb(0, 0, 0) !important;
        }
      }
    }
  
    &:has(.tab-close-button:active) {
      .tab-background, .tab-icon-stack, .tab-label-container {
        opacity: 0.5 !important;
      }
    }
  }
  
  .tab-close-button, .tab-reset-button {
    transition: background 0.2s ease;
  }
  
  .tab-close-button &:hover {
    background: rgb(255, 100, 100) !important;
  }
  
  /* Normal tabs */
  
  #tabbrowser-arrowscrollbox {
    .tabbrowser-tab {
      &[usercontextid][zenDefaultUserContextId] {
        @media (-moz-bool-pref: "zen.workspaces.hide-default-container-indicator") {
          .tab-background {
            border: none !important;
  
            &::before {
              width: 0;
              opacity: 0;
              background-color: rgba(255, 255, 255, 0.1);
            }
          }
  
          &:hover {
            .tab-background::before {
              width: 25%;
              opacity: 1;
            }
          }
  
          &[selected] {
            .tab-background::before {
              width: 50% !important;
              opacity: 1;
            }
          }
        }
      }
    }
  }
 }